header{
    .additional{
        background-color: aqua;
        .add-container{
            width: 70%;
            margin: 0 auto;
            border: 1px solid black;
            display: flex;
            justify-content: end;
            //align-items: center;

            span{
                margin-left: 30px;
            }
        }
    }
    .my-container{
        width: 70%;
        margin: 0 auto;
        border: 1px solid black;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
  
    nav {
        ul {
        list-style-type: none;
        //height: 100px;
    

      li {
        display: inline-block;
        padding: 10px;
        
        //border: 1px solid red;
        //height: 100%;

          

            a {
            text-decoration: none;
            color: black;
      
      
              &:hover {
                color: blue;
              }
            }
      }   
    }
  }
}

.my-jumbotron{
    background-color: aquamarine;
    height: 450px;
    background-image: url('/images/jumbotron.jpg');
}