*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
    .additional{
        color: white;
        background-color: rgb(2, 130, 249);
        .add-container{
            width: 70%;
            margin: 0 auto;
            // border: 1px solid black;
            display: flex;
            justify-content: end;
            //align-items: center;

            span{
                margin-left: 30px;
            }
        }
    }
    .my-container{
        width: 70%;
        margin: 0 auto;
        // border: 1px solid black;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
  
    nav {
        ul {
        list-style-type: none;
        //height: 100px;
    

      li {
        display: inline-block;
        padding: 10px;
        
        //border: 1px solid red;
        //height: 100%;

          

            a {
            text-decoration: none;
            color: black;
      
      
              &:hover {
                color: blue;
              }
            }
      }   
    }
  }
}

.my-jumbotron{
    background-color: aquamarine;
    height: 450px;
    background-image: url('/images/jumbotron.jpg');
}

.current-series{
  background-color: black;
  padding: 40px;

  .current-btn {
    width: 70%;
    margin: 0 auto;
     
    h2{
        color: white;
        width: 300px;
        margin-bottom: 30px;
        background-color: rgb(2, 130, 249);
        text-align: center;
        padding: 10px;
    }
}

  .card-container{
      color: white;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 70%;
      margin: 0 auto;

      .load-btn {
        // width: 180px;
        background-color: rgb(2, 130, 249);
        margin-top: 30px;

        h3 {
            text-align: center;
            padding: 10px 40px;

            a {
                color: white;
                text-decoration: none;
            }
        }
    }

      .my-card{
        width: 200px;
      }
  }
}

footer {
  li{
    list-style-type: none;
  }
  //background-color: aqua;
  a {
    color: white;
    text-decoration: none;
  }

  ul{
    margin-right: 40px;
    &.product{
      display: flex;
      justify-content: space-around;
      align-items:center;

      div {
        display: flex;
        align-items: center;
      }
    }
    
  }
  
  .product, .list-container, .bottom-container{
    width: 70%;
    margin: 0 auto;
    padding: 30px 0;
  }

 

  .footer-up {
    background-color: rgb(2, 130, 249);
  }

  section{
    &.footer-middle {
      h2 {
        color: white;
      }
      background-image: url("/images/footer-bg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      //border: 1px solid black;
      min-height: 100px;

      img {
        width: 300px;
      }

       .list-container{
         display: flex;
         
         li {
           color: gray;
         }
       }
    }
  }

  section{
    &.footer-bottom {
      
      background-color: rgb(48, 48, 48);
      min-height: 100px;

      .bottom-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .sign-up {
        padding: 20px;
        border: 1px solid rgb(2, 130, 249);
      }

      ul{
        display: flex;
        justify-content: space-around;
        align-items: center;

        li{
          margin-right: 10px;

          .follow{
            color: rgb(2, 130, 249);
          }
        }
      }
    }
  }
}