header .additional {
  background-color: aqua;
}

header .additional .add-container {
  width: 70%;
  margin: 0 auto;
  border: 1px solid black;
  display: flex;
  justify-content: end;
}

header .additional .add-container span {
  margin-left: 30px;
}

header .my-container {
  width: 70%;
  margin: 0 auto;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  padding: 10px;
}

header nav ul li a {
  text-decoration: none;
  color: black;
}

header nav ul li a:hover {
  color: blue;
}

.my-jumbotron {
  background-color: aquamarine;
  height: 450px;
  background-image: url("/images/jumbotron.jpg");
}

