* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .additional {
  color: white;
  background-color: rgb(2, 130, 249);
}

header .additional .add-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: end;
}

header .additional .add-container span {
  margin-left: 30px;
}

header .my-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  padding: 10px;
}

header nav ul li a {
  text-decoration: none;
  color: black;
}

header nav ul li a:hover {
  color: blue;
}

.my-jumbotron {
  background-color: aquamarine;
  height: 450px;
  background-image: url("/images/jumbotron.jpg");
}

.current-series {
  background-color: black;
  padding: 40px;
}

.current-series .current-btn {
  width: 70%;
  margin: 0 auto;
}

.current-series .current-btn h2 {
  color: white;
  width: 300px;
  margin-bottom: 30px;
  background-color: rgb(2, 130, 249);
  text-align: center;
  padding: 10px;
}

.current-series .card-container {
  color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
}

.current-series .card-container .load-btn {
  background-color: rgb(2, 130, 249);
  margin-top: 30px;
}

.current-series .card-container .load-btn h3 {
  text-align: center;
  padding: 10px 40px;
}

.current-series .card-container .load-btn h3 a {
  color: white;
  text-decoration: none;
}

.current-series .card-container .my-card {
  width: 200px;
}

.current-series .card-container .my-card a {
  color: white;
  text-decoration: none;
}

footer li {
  list-style-type: none;
}

footer a {
  color: white;
  text-decoration: none;
}

footer ul {
  margin-right: 40px;
}

footer ul.product {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer ul.product div {
  display: flex;
  align-items: center;
}

footer .product,
footer .list-container,
footer .bottom-container {
  width: 70%;
  margin: 0 auto;
  padding: 30px 0;
}

footer .footer-up {
  background-color: rgb(2, 130, 249);
  color: white;
}

footer section.footer-middle {
  background-image: url("/images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100px;
}

footer section.footer-middle h2 {
  color: white;
}

footer section.footer-middle img {
  width: 300px;
}

footer section.footer-middle .list-container {
  display: flex;
}

footer section.footer-middle .list-container li {
  color: gray;
}

footer section.footer-bottom {
  background-color: rgb(48, 48, 48);
  min-height: 100px;
}

footer section.footer-bottom .bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer section.footer-bottom .sign-up {
  padding: 20px;
  border: 1px solid rgb(2, 130, 249);
}

footer section.footer-bottom ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer section.footer-bottom ul li {
  margin-right: 10px;
}

footer section.footer-bottom ul li .follow {
  color: rgb(2, 130, 249);
}

